---
import AuthLayout from "../../layouts/AuthLayout.astro";
import ResetPasswordForm from "../../components/auth/ResetPasswordForm";
---

<AuthLayout title="Resetowanie hasła - RoadYourMap">
  <div class="bg-card border border-border rounded-lg p-6 shadow-sm">
    <ResetPasswordForm client:load />
  </div>
</AuthLayout>
